[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-ads1x15 = "==1.0.2"
adafruit-blinka = "==8.39.1"
adafruit-circuitpython-ads1x15 = "==2.2.25"
adafruit-circuitpython-busdevice = "==5.2.9"
adafruit-circuitpython-connectionmanager = "==3.0.0"
adafruit-circuitpython-requests = "==3.2.9"
adafruit-circuitpython-typing = "==1.10.3"
adafruit-extended-bus = "==1.0.2"
adafruit-gpio = "==1.0.3"
adafruit-platformdetect = "==3.63.0"
adafruit-pureio = "==1.1.11"
certifi = "==2024.2.2"
colorzero = "==2.0"
gpiozero = "==2.0.1"
influxdb-client = "==1.43.0"
pyftdi = "==0.55.4"
pyserial = "==3.5"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
pyusb = "==1.2.1"
reactivex = "==4.0.4"
rpi-ws281x = "==5.0.0"
"rpi.gpio" = "==0.7.1"
six = "==1.16.0"
spidev = "==3.6"
sysv-ipc = "==1.1.0"
typing-extensions = "==4.11.0"
urllib3 = "==2.2.1"

[dev-packages]

[requires]
python_version = "3.11"
